<h1>Gem Crags</h1>
<% if params[:order_by_routes] %>

  <% @crags.each do |crag| %>
    <p><strong><%= link_to "#{crag.crag_name}", "/crags/#{crag.id}" %> <%= "Number of routes #{crag.count_routes}" %> </strong> Created: <%= crag.created_at %>
        <%= link_to "Edit #{crag.crag_name}", "/crags/#{crag.id}/edit" %> <%= button_to "Delete #{crag.crag_name} and Routes", "/crags/#{crag.id}", method: :delete %>
    </p>
    <p>Reservations Required: <%= crag.reservation_required %></p>
    <p>Elevation: <%= crag.elevation%>
    <p>Crag Id: <%= crag.id %>
    <p>Last Updated: <%= crag.updated_at %>
  <% end %>

<% else  %>
  <% @crags.each do |crag| %>
    <p><strong><%= link_to "#{crag.crag_name}", "/crags/#{crag.id}" %> </strong> Created: <%= crag.created_at %>
        <%= link_to "Edit #{crag.crag_name}", "/crags/#{crag.id}/edit" %> <%= button_to "Delete #{crag.crag_name} and Routes", "/crags/#{crag.id}", method: :delete %>
    </p>
    <p>Reservations Required: <%= crag.reservation_required %></p>
    <p>Elevation: <%= crag.elevation%>
    <p>Crag Id: <%= crag.id %>
    <p>Last Updated: <%= crag.updated_at %>
  <% end %>

<% end %>
<br/>
<br/>
<%= link_to "Create New Crag", "/crags/new" %>
<br/>
<%= link_to "Order Crags by number of Routes", "/crags?order_by_routes=true" %>
