<h1>Gem Crags</h1>

<% @crags.each do |crag| %>
  <h3><%= crag.crag_name %> Created: <%= crag.created_at %></h3>
  <p>Reservations Required: <%= crag.reservation_required %></p>
  <p>Elevation: <%= crag.elevation %>
<% end %>

<%= link_to "Create New Crag", "/crags/new" %>