<h1>Crag Name:  <%= @crag.crag_name %> </h1>
<p>Reservation Required: <%= @crag.reservation_required %></p>
<p>Elevation : <%= @crag.elevation%> ft.</p>
<p> Created on: <%= @crag.created_at%>, Updated on: <%= @crag.updated_at%>