<h1>Gem Routes</h1>

<% @routes.each do |route| %>
  <h3><%= route.route_name %></h3>
   <p>Sport Route: <%= route.sport_route %></p>
   <p>Trad Route: <%= route.trad_route %></p>
   <p>Number of Pitches: <%= route.pitches %></p>
   <p>Grade: <%= route.grade %> </p>
<% end %>