<h1>Route Name:  <%= @route.route_name %> </h1>
<p><%= @route.route_name %></p>
<p><%= @route.sport_route %></p>
<p><%= @route.trad_route %></p>
<p><%= @route.pitches %></p>
<p><%= @route.grade %></p>
<p><%= @route.created_at %></p>
<p><%= @route.updated_at %></p>
<p><%= @route.crag_id %></p>